<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TUD Informatik Katalog</title>
    <meta name="description" content=":)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="libs/angular-tree-control/css/tree-control.css">
    <link rel="stylesheet" href="assets/main.css" />
</head>
<!-- Ey, raus aus meinem Quellcode! :D -->

<body ng-app="informatikModules" ng-controller="RootCtrl" ng-class="{'aside-open': !!selectedNode, 'aside-big': bigAside }">
    <header class="fixed-top header" ng-cloak>
        <input ng-model="search" placeholder="Modul suchen" />
        <div class="buttons">
            <button class="border-left" ng-click="toggleExpanded(ALL_EXPANDED)">+ Expand all</button>
            <button class="border-left" ng-click="toggleExpanded(ALL_COLLAPSED)">- Collapse all</button>
            <a class="logo-tucan border-left" href="https://www.tucan.tu-darmstadt.de/" target="_blank"><img src="assets/logo-tucan.jpg"></a>
        </div>
    </header>
    <section class="overflow-auto" ng-cloak>
        <treecontrol
            class="tree tree-classic"
            expanded-nodes="expandedNodes"
            filter-expression="search"
            filter-comparator="comparator"
            on-selection="showSelected(node, selected)"
            tree-model="data"
            selected-node="selected"
            options="treeOptions">
            {{node.text}}
            <span class="credits" ng-if="node.credits">{{node.credits}} CP</span>
        </treecontrol>
    </section>
    <aside ng-if="selectedNode" ng-cloak>
        <div class="close-button button" ng-click="showSelected()">x</div>
        <div class="resize-button button" ng-click="toggleAside()">{{bigAside ? '>' : '
            < '}}</div>
        <h2>{{selectedNode.text}}</h2>
        <div class="module-detail" ng-repeat="detail in selectedNode.details">
            <b>{{detail.title}}</b>
            <br/>
            <span ng-bind-html="detail.details"></span>
        </div>
    </aside>
    <footer>
        <b>Benutzung auf eigene Gefahr!</b>
        <span class="hint">Stand: 23.03.16</span>
    </footer>
    <div class="overlay" ng-show="config.showDialog" ng-cloak>
        <div class="content">
            <h1>TUD Informatik SoSe '16</h1>
                <p>
                    <b>Ganz wichtig:</b> Die Benutzung ist natürlich auf eigene Gefahr!
                    <br/>
                    <br/> Ich habe viel gegengetestet und nachgeprüft, aber da die Menge der Daten schwierig zu überblicken und testen ist, können sich Fehler einschleichen!
                    <br/>
                    <br/> Also: du wurdest gewarnt :D
                    <br/>
                    <br/>
                    <button ng-click="hideOverlay()">Ja, bin gewarnt!</button>
                    <br/>
                    <br/>
                    <input id="checkbox-hide-dialog" type="checkbox" ng-model="config.hideOverlayNextTime" />
                    <label for="checkbox-hide-dialog">Ab jetzt kein Overlay mehr, bitte!</label>
                    <br/>
                    <br/>
                    <br/>
                    <span class="hint">(Man kann jetzt auch Links zu den einzelnen Kursen verschicken - siehe URL, wenn man auf nen Kurs klickt)</span>
                    <br/>
                    <span class="hint">Kann gut sein, dass alte Browser hier nicht funktionieren. Regt euch dann bitte nicht über die Seite sondern eher über eure Unfähigkeit, einen aktuellen Browser zu haben, auf ;)</span>
                </p>
        </div>
        </div>
        <script src="libs/angular/angular.min.js"></script>
        <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="libs/angular-tree-control/angular-tree-control.js"></script>
        <script src="libs/ramda/dist/ramda.min.js"></script>
        <script src="assets/main.js"></script>
</body>

</html>
